body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

#controls {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

#controls input {
  min-width: 150px;
  height: 40px;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #808080;
  background-color: transparent;
  outline: none;
}

#controls button {
  min-width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
  color: #fff;
  /* font-family: Montserrat; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

#controls button.create:hover {
  background-color: #6c8cff;
}

#controls button.destroy {
  background-color: #ff4e4e;
}

#controls button.destroy:hover {
  background-color: #ff7070;
}

.wrap {
  padding: 32px;
  border-radius: 8px;
  background: #f6f6fe;
}

#boxes {
  display: flex;
  gap: 16px;
}
