body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}
input:hover {
  border-color: #000;
}

input:active,
input:focus {
  border: 1px solid #808080;
}

#name-input {
  min-width: 360px;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  outline: none;
}

.title {
  margin: 0;
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
